@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
.container{
  width: 80%;
  margin: auto;
}
.container_fluid{
  width: 95%;
  margin: auto;
}